.main nav {
background-color: #FF4081;
display: grid;
padding-top: 10px;
}

body {
margin: 0;
}

ul{
list-style-type: none;
margin: 0;
display: flex;
justify-content: right;
padding-right: 60%;
padding: 8px;
gap: 40px;
align-items: center;
background-color: #FF4081;
}

h1 {
margin: 0px;
font-family: copperplate gothic bold;
text-align: center;
font-size: 50px;
justify-content: center;
}

a {
    color : white;
    text-decoration: none;
}



.site-header {
background-color: #FF4081;
display: grid;
flex-direction: column;
justify-content: center;
align-content: center;

}

.under-header {
    background-color:  #900603;
    height: 450px;
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-content: center;

}

.hero-image { 
    display: flex;
    justify-content: center;
}

.hero-image img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    margin-top: 100px;
}

h2, p {
    text-align: center;
    margin-top: 15px;
    font-family: copperplate gothic bold;
}


h2 {
    font-size: 30px;
    color:  black;
    font-family: copperplate gothic bold;
    
}
p {
    font-size: 23px;
    color:  black;
    font-family: copperplate gothic bold;
    font-weight: bold;
    

}

