
h1 {
    color: green;
    background-color: bisque;
}

p {
    font-size: 20px;
    color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
    background-color: chocolate;
}


div {
    background-color: lightblue; 
    color: black; 
    border:5px solid blue;
    height: 180px;
    width: 300px;
}


