nav
{
    display: flex;
    background-color: rgb(133, 5, 5);
    justify-content: space-between;
   
   
}
 
h1
{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    font-size: 3rem;
   
}
ul
{
   font-family: Arial, Helvetica, sans-serif;
    display: flex;
    background-color: rgb(242, 63, 63);
    gap: 20px;
   
}
.hero-header
{
 
    background-image: linear-gradient(135deg #ff0202 0%, #ca570b 100%);
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
    position: relative;
    color: white;
 
}
 
.hero-header::before {
 
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(88, 18, 3, 0.989);
    z-index: 1;
 
}
 
.hero-content {
   
    position: relative;
    z-index: 2;
    max-width: 800px;
    padding: 2rem;
 
}
.hero-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 70px;
    margin-bottom: 1rem;
    font-weight: 100;
    text-shadow: 100;
     background-image: linear-gradient(135deg #ff0202 0%, #ca570b 100%);
}
 
.hero-subtitle {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    opacity: 40%;
    line-height: 50px;
   
 
}
 
.hero-buttons {
 
    display: flex;
    gap: 12;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
 
}
 
.btn {
 
    text-decoration: 80px ;
    cursor: pointer;
 
}
 
 .btn-primary {
 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(244, 114, 114);
    color: rgb(0, 0, 0);
    padding: 15px 30px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;

}

.btn-primary:hover {
 
    background-color: rgb(248, 157, 157);
 
}

.btn-secondary {
 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(244, 114, 114);
    color: rgb(0, 0, 0);
    padding: 15px 30px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;

}

.btn-secondary:hover {
 
    background-color: rgb(248, 157, 157);
 
}